*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #262525;
}
.todo{
  height: 70vh;
  width: 95vh;
  background-color: rgb(116, 116, 227);
  display: flex;
  align-items: center;
  flex-direction: column ;
  border-radius: 5%;
  box-shadow: 1px 1px 10px 2px gray;
}
.input_area{
  height: 15%;
  width: 86%;
  background-color: rgb(59, 95, 126);
  display: flex;
  gap: 2%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.input_box{
  width: 80%;
  height: 55%;
  border-radius: 10px;
  border: none;
  background-color: aliceblue;
  text-align: center;
  font-size: larger;
  font-weight:100;
}
.input_box:focus{
  outline: none;
  font-weight: bolder;
  transform: scale(0.95);
}
.addBtn{
  background-color: orange;
  border-radius: 10px;
  width: 10%;
  height: 55%;
  border: none;
  
}
.addBtn:hover{
  cursor: pointer;
  font-weight: bolder;
  font-size: large;
  transform: scale(0.95);
}
.tasks_area{
    height: 60%;
    width: 86%;
    background-color: rgb(59, 95, 126);
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: auto;
}
li{
  background-color: aliceblue;
  height: auto;
  width: 80%;
  display: flex;
  gap: 4% ;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  padding: 1em;
  border-radius: 9px;
  font-size: larger;
  font-weight: bold;
}
li button{
  height: 70%;
  width: auto;
  background-color: orange;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  padding: 8px;
}
li button:hover{
  cursor: pointer;
  transform: scale(0.95);
}
.checkBox{
  height: 50%;
  width: 20%;
}